// Mobiles
@media (max-width: 575px) {
    .menu-wrap {
        .menu {
            >div {
                >div {
                    >ul {
                        >li>a {
                            font-size: 0.8rem;
                        }
                    }
                }
            }
        }
    }
    .menu-wrap {
        .menu {
            >div {
                >div {
                    >ul {
                        >li {
                            padding: 0.4rem 0;
                        }
                    }
                }
            }
        }
    }
    .menu-wrap {
        .menu {
            >div {
                >div {
                    >ul {
                        >li {
                            >a:hover {
                                >span {
                                    visibility: hidden !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    #banner {
        .banner-container {
            h1 {
                font-size: 1.5rem;
            }
        }
    }
    #banner {
        .banner-container {
            h2 {
                font-size: 1rem;
            }
        }
    }
    #banner {
        .banner-container {
            .scroll-down {
                left: 5%;
            }
        }
    }
    #banner {
        .banner-container {
            .scroll-down {
                span:before {
                    width: 3px;
                    height: 40px;
                }
            }
        }
    }
    .section-header {
        margin-bottom: 3rem;
    }
    .section-header {
        h2 {
            span {
                font-size: 1.6rem;
                top: -6px;
                letter-spacing: 0.2rem;
            }
        }
    }
    .section-header {
        h2 {
            font-size: 1.2rem;
            letter-spacing: 0.1rem;
            font-weight: 600;
        }
    }
    .section-header {
        h2:before {
            top: 35px;
        }
    }
    #about {
        .about-details {
            p {
                padding: 0;
                font-size: 0.9rem;
                word-spacing: 0.08rem;
            }
        }
    }
    #how-works {
        .how-work-details {
            .work-vdo {
                margin-bottom: 3rem;
            }
        }
    }
    #team {
        .team-member {
            .member-overlay {
                padding: 0.9rem;
            }
        }
    }
    #team {
        .team-member {
            .member-overlay {
                .overlay-border {
                    padding: 0.9rem;
                }
            }
        }
    }
    #team {
        .team-member {
            .member-overlay {
                .overlay-border {
                    h4 {
                        margin-top: 0rem;
                        font-size: 1.2rem;
                        line-height: 1.2rem;
                    }
                }
            }
        }
    }
    #team {
        .team-member {
            .member-overlay {
                .overlay-border {
                    p {
                        font-size: 1rem;
                    }
                }
            }
        }
    }
    #team {
        .team-member {
            .member-overlay {
                .overlay-border {
                    p:nth-child(3) {
                        font-size: 0.9rem;
                    }
                }
            }
        }
    }
    #team {
        .team-member {
            .member-overlay {
                .overlay-border {
                    .team-social {
                        position: absolute;
                        left: 18%;
                        bottom: 6%;
                    }
                }
            }
        }
    }
    #team {
        .team-member {
            .member-overlay {
                .overlay-border {
                    .team-social {
                        i {
                            font-size: 1.8rem;
                            border: 1.5px solid transparent;
                        }
                    }
                }
            }
        }
    }
    #team {
        .team-member {
            .member-overlay {
                .overlay-border {
                    .team-social {
                        i:hover {
                            border: 1.5px solid var(--secondary-color);
                        }
                    }
                }
            }
        }
    }
    #contact {
        .contact-inner {
            .contact-address {
                i {
                    font-size: 1rem;
                    padding: 1rem;
                }
            }
        }
    }
    #contact {
        .contact-inner {
            .contact-address {
                h4 {
                    font-size: 1rem;
                }
            }
        }
    }
    #contact {
        .contact-inner {
            .contact-address {
                p {
                    font-size: 0.8rem;
                }
            }
        }
    }
    #contact {
        .contact-form {
            .form-name,
            .form-email {
                input {
                    font-size: 1rem;
                    padding: 0.7rem;
                    letter-spacing: 1px;
                }
            }
        }
    }
    #contact {
        .contact-form {
            .contact-textarea {
                textarea {
                    font-size: 1rem;
                    padding: 0.7rem;
                    letter-spacing: 1px;
                }
            }
        }
    }
    #contact {
        .form-button {
            a {
                font-size: 0.9rem;
                letter-spacing: 1px;
                padding: 1rem;
            }
        }
    }
    #contact {
        .contact-social {
            padding: 0 0 20px 0;
        }
    }
    #contact {
        .contact-social {
            p {
                font-size: 20px;
                letter-spacing: 1px;
                margin-right: 15px;
            }
        }
    }
    #contact {
        .contact-social {
            a {
                font-size: 14px;
                height: 30px;
                width: 30px;
            }
        }
    }
    footer {
        .footer {
            p {
                font-size: 0.8rem;
            }
        }
    }
}

// Mobiles and SmartPhones
@media (min-width: 576px) and (max-width: 767px) {
    .menu-wrap {
        .menu {
            >div {
                >div {
                    >ul {
                        >li>a {
                            font-size: 0.8rem;
                        }
                    }
                }
            }
        }
    }
    .menu-wrap {
        .menu {
            >div {
                >div {
                    >ul {
                        >li {
                            padding: 0.4rem 0;
                        }
                    }
                }
            }
        }
    }
    .menu-wrap {
        .menu {
            >div {
                >div {
                    >ul {
                        >li {
                            >a:hover {
                                >span {
                                    visibility: hidden !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    #banner {
        .banner-container {
            h1 {
                font-size: 2rem;
            }
        }
    }
    #banner {
        .banner-container {
            h2 {
                font-size: 1.2rem;
            }
        }
    }
    .section-header {
        h2 {
            span {
                font-size: 2.5rem;
                top: -16px;
                letter-spacing: 0.3rem;
            }
        }
    }
    .section-header {
        h2 {
            font-size: 1.5rem;
            letter-spacing: 0.1rem;
            font-weight: 600;
        }
    }
    #banner {
        .banner-container {
            .scroll-down {
                left: 16.5%;
            }
        }
    }
    #banner {
        .banner-container {
            .scroll-down {
                span:before {
                    width: 3px;
                    height: 40px;
                }
            }
        }
    }
    #about {
        .about-details {
            p {
                font-size: 1rem;
                word-spacing: 0.08rem;
            }
        }
    }
    #how-works {
        .how-work-details {
            .work-vdo {
                margin-bottom: 3rem;
            }
        }
    }
    #team {
        .team-member {
            .member-overlay {
                padding: 0.5rem;
            }
        }
    }
    #team {
        .team-member {
            .member-overlay {
                .overlay-border {
                    padding: 0.5rem;
                }
            }
        }
    }
    #team {
        .team-member {
            .member-overlay {
                .overlay-border {
                    h4 {
                        margin-top: 0rem;
                        font-size: 1rem;
                        line-height: 1rem;
                    }
                }
            }
        }
    }
    #team {
        .team-member {
            .member-overlay {
                .overlay-border {
                    p {
                        font-size: 0.8rem;
                    }
                }
            }
        }
    }
    #team {
        .team-member {
            .member-overlay {
                .overlay-border {
                    p:nth-child(3) {
                        font-size: 0.8rem;
                    }
                }
            }
        }
    }
    #team {
        .team-member {
            .member-overlay {
                .overlay-border {
                    .team-social {
                        position: absolute;
                        left: 12%;
                        bottom: 6%;
                    }
                }
            }
        }
    }
    #team {
        .team-member {
            .member-overlay {
                .overlay-border {
                    .team-social {
                        i {
                            font-size: 1.5rem;
                            border: 1.5px solid transparent;
                        }
                    }
                }
            }
        }
    }
    #team {
        .team-member {
            .member-overlay {
                .overlay-border {
                    .team-social {
                        i:hover {
                            border: 1.5px solid var(--secondary-color);
                        }
                    }
                }
            }
        }
    }
    #contact {
        .contact-inner {
            .contact-address {
                i {
                    font-size: 1rem;
                    padding: 1rem;
                }
            }
        }
    }
    #contact {
        .contact-inner {
            .contact-address {
                h4 {
                    font-size: 1rem;
                }
            }
        }
    }
    #contact {
        .contact-inner {
            .contact-address {
                p {
                    font-size: 0.8rem;
                }
            }
        }
    }
    #contact {
        .contact-form {
            .form-name,
            .form-email {
                input {
                    font-size: 1rem;
                    padding: 0.7rem;
                    letter-spacing: 1px;
                }
            }
        }
    }
    #contact {
        .contact-form {
            .contact-textarea {
                textarea {
                    font-size: 1rem;
                    padding: 0.7rem;
                    letter-spacing: 1px;
                }
            }
        }
    }
    #contact {
        .form-button {
            a {
                font-size: 0.9rem;
                letter-spacing: 1px;
                padding: 1rem;
            }
        }
    }
    #contact {
        .contact-social {
            padding: 0 0 20px 0;
        }
    }
    #contact {
        .contact-social {
            p {
                font-size: 20px;
                letter-spacing: 1px;
                margin-right: 15px;
            }
        }
    }
    #contact {
        .contact-social {
            a {
                font-size: 14px;
                height: 30px;
                width: 30px;
            }
        }
    }
}

@media (min-width: 450px) and (max-width: 575px) {
    #team {
        .team-member {
            .member-overlay {
                .overlay-border {
                    .team-social {
                        left: 25%;
                    }
                }
            }
        }
    }
    #team {
        .team-member {
            .member-overlay {
                .overlay-border {
                    h4 {
                        margin-top: 0rem;
                        font-size: 1.6rem;
                        line-height: 1.6rem;
                    }
                }
            }
        }
    }
    #team {
        .team-member {
            .member-overlay {
                .overlay-border {
                    p {
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }
    #team {
        .team-member {
            .member-overlay {
                .overlay-border {
                    p:nth-child(3) {
                        font-size: 1rem;
                    }
                }
            }
        }
    }
    // Contact
    #contact {
        .contact-social {
            padding: 0 0 20px 0;
        }
    }
    #contact {
        .contact-social {
            p {
                font-size: 20px;
                letter-spacing: 1px;
                margin-right: 15px;
            }
        }
    }
    #contact {
        .contact-social {
            a {
                font-size: 14px;
                height: 30px;
                width: 30px;
            }
        }
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) {
    .menu-wrap {
        .menu {
            >div {
                >div {
                    >ul {
                        >li>a {
                            font-size: 0.8rem;
                        }
                    }
                }
            }
        }
    }
    .menu-wrap {
        .menu {
            >div {
                >div {
                    >ul {
                        >li {
                            padding: 0.5rem 0;
                        }
                    }
                }
            }
        }
    }
    .menu-wrap {
        .menu {
            >div {
                >div {
                    >ul {
                        >li {
                            >a:hover {
                                >span.about {
                                    font-size: 1.2rem;
                                    top: 22%;
                                    letter-spacing: 0.3rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .menu-wrap {
        .menu {
            >div {
                >div {
                    >ul {
                        >li {
                            >a:hover {
                                span:before {
                                    width: 40px;
                                    top: 12px;
                                    left: -50px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .menu-wrap {
        .menu {
            >div {
                >div {
                    >ul {
                        >li {
                            >a:hover {
                                >span.services {
                                    font-size: 1.2rem;
                                    top: 41%;
                                    letter-spacing: 0.25rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .menu-wrap {
        .menu {
            >div {
                >div {
                    >ul {
                        >li {
                            >a:hover {
                                >span.team {
                                    font-size: 1.2rem;
                                    top: 60%;
                                    letter-spacing: 0.2rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .menu-wrap {
        .menu {
            >div {
                >div {
                    >ul {
                        >li {
                            >a:hover {
                                >span.contact {
                                    font-size: 1.2rem;
                                    top: 77.5%;
                                    letter-spacing: 0.2rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    #banner {
        .banner-container {
            .scroll-down {
                left: 15%;
            }
        }
    }
    #banner {
        .banner-container {
            h1 {
                font-size: 2.5rem;
            }
        }
    }
    #banner {
        .banner-container {
            h2 {
                font-size: 1.5rem;
            }
        }
    }
    .section-header {
        h2 {
            span {
                font-size: 3rem;
                top: -15px;
            }
        }
    }
    #about {
        .image-container {
            .after {
                span {
                    font-size: 1.5rem;
                }
            }
        }
    }
    #about {
        .about-details {
            p {
                font-size: 1rem;
                word-spacing: 0.05rem;
            }
        }
    }
    #how-works {
        .how-work-details {
            .work-vdo {
                margin-bottom: 3rem;
            }
        }
    }
    #team {
        .team-member {
            .member-overlay {
                padding: 0.8rem;
            }
        }
    }
    #team {
        .team-member {
            .member-overlay {
                .overlay-border {
                    padding: 0.7rem;
                }
            }
        }
    }
    #team {
        .team-member {
            .member-overlay {
                .overlay-border {
                    h4 {
                        margin-top: 0.8rem;
                        font-size: 1.2rem;
                        line-height: 1.5rem;
                    }
                }
            }
        }
    }
    #team {
        .team-member {
            .member-overlay {
                .overlay-border {
                    p:nth-child(3) {
                        font-size: 0.9rem;
                    }
                }
            }
        }
    }
    #team {
        .team-member {
            .member-overlay {
                .overlay-border {
                    .team-social {
                        position: absolute;
                        left: 16%;
                        bottom: 6%;
                    }
                }
            }
        }
    }
    // Contact
    #contact {
        .contact-social {
            p {
                font-size: 22px;
                letter-spacing: 1px;
                margin-right: 15px;
            }
        }
    }
    #contact {
        .contact-social {
            a {
                font-size: 14px;
                height: 30px;
                width: 30px;
            }
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px) {
    .menu-wrap {
        .menu>div {
            >div {
                >ul {
                    >li>a {
                        font-size: 1rem;
                    }
                }
            }
        }
    }
    .menu-wrap {
        .menu {
            >div {
                >div {
                    >ul {
                        >li {
                            padding: 0.8rem 0;
                        }
                    }
                }
            }
        }
    }
    .menu-wrap {
        .menu {
            >div {
                >div {
                    >ul {
                        >li {
                            >a:hover {
                                >span.about {
                                    font-size: 1.3rem;
                                    top: 22%;
                                    letter-spacing: 0.3rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .menu-wrap {
        .menu {
            >div {
                >div {
                    >ul {
                        >li {
                            >a:hover {
                                span:before {
                                    width: 50px;
                                    top: 15px;
                                    left: -65px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .menu-wrap {
        .menu {
            >div {
                >div {
                    >ul {
                        >li {
                            >a:hover {
                                >span.services {
                                    font-size: 1.3rem;
                                    top: 41%;
                                    letter-spacing: 0.3rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .menu-wrap {
        .menu {
            >div {
                >div {
                    >ul {
                        >li {
                            >a:hover {
                                >span.team {
                                    font-size: 1.3rem;
                                    top: 60%;
                                    letter-spacing: 0.3rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .menu-wrap {
        .menu {
            >div {
                >div {
                    >ul {
                        >li {
                            >a:hover {
                                >span.contact {
                                    font-size: 1.3rem;
                                    top: 77.5%;
                                    letter-spacing: 0.3rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    #banner {
        .banner-container {
            .scroll-down {
                left: 11%;
            }
        }
    }
    #banner {
        .banner-container {
            h1 {
                font-size: 2.5rem;
            }
        }
    }
    #banner {
        .banner-container {
            h2 {
                font-size: 1.5rem;
            }
        }
    }
    #team {
        .team-member {
            .member-overlay {
                padding: 0.8rem;
            }
        }
    }
    #team {
        .team-member {
            .member-overlay {
                .overlay-border {
                    padding: 0.7rem;
                }
            }
        }
    }
    #team {
        .team-member {
            .member-overlay {
                .overlay-border {
                    h4 {
                        margin-top: 0.8rem;
                        font-size: 1.2rem;
                        line-height: 1.5rem;
                    }
                }
            }
        }
    }
    #team {
        .team-member {
            .member-overlay {
                .overlay-border {
                    p:nth-child(3) {
                        font-size: 0.9rem;
                    }
                }
            }
        }
    }
    #team {
        .team-member {
            .member-overlay {
                .overlay-border {
                    .team-social {
                        position: absolute;
                        left: 12%;
                        bottom: 6%;
                    }
                }
            }
        }
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    #banner {
        .banner-container {
            .scroll-down {
                // left: 10%;
            }
        }
    }
    #team {
        .team-member {
            .member-overlay {
                .overlay-border {
                    .team-social {
                        position: absolute;
                        left: 19%;
                        bottom: 6%;
                    }
                }
            }
        }
    }
}